body {
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
	font-size: 13px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Top Row Icons below */

.top-row {
	text-align: right;
	margin-right: 20px;
}

.top-row a{
	color: black;
	opacity: .65;
}

.top-row a:hover, .bottom-row a:hover {
	opacity: 1;
}

.top-row ul, .bottom-row ul {
	list-style-type: none;
}

.top-row li, .bottom-row li {
	vertical-align: middle;
	display: inline-block;
	margin-right: 15px;
}

#user-icon {
	border-radius: 100%;
}

/* Main elements at the center of the page below */

#google-logo-main {
	width: 272px;
	margin: 160px auto 0;
}

#search-box {
	width: 420px;
	height: 25px;
	margin: 30px auto;
}

#search-box img {
	height: 25px;
}

#mic {
	display: inline-block;
	float: right;
	margin-top: -28px;
}

input[type="text"] {
	width: 420px;
	height: 30px;
	display: inline-block;
	float: left;
}

.search-buttons {
	text-align: center;
}

input[type="submit"] {
	margin: 0 auto;
	font-family: arial, sans-serif;
	font-weight: bold;
	color: #757575;
	border-radius: 2px;
	font-size: 13px;
	border: 1px solid #f2f2f2;
	margin: 11px 4px;
	text-align: center;
	background-color: #f2f2f2;
	height: 35px;
	width: 140px;
}

input[type="submit"]:hover {
	color: black;
	border-color: #cccccc;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}


#google-button, #lucky-button {
	display: inline-block;
	margin: 3px;
	margin-top: 15px;
	
}

#ali-tribute {
	margin: 30px auto;
	text-align: center;
	text-decoration: none;
	clear: both;
}

/* Bottom Row links below */

.bottom-row {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #f2f2f2;
	border-top: 1px solid #e6e6e6;
}

.bottom-row a {
	color: #757575;
}

.bottom-row ul {
	padding-left: 0;
}

.bottom-row li {
	padding-left: 25px;
}

#bottom-row-left {
	float: left;
	width: 50%;
	padding-left: 10px;
}

#bottom-row-right {
	float: right;
	width: 50%;
	position: fixed;
	right: 0px;
	padding-right: 10px;
	text-align: right;
}
